<h1>Listing items</h1>
|<%= link_to 'New Item', new_item_path %>| <br />

<table>
  <tr>
    <th>Name</th>
    <th>Satuan</th>
    <th>LT</th>
    <th>Stock</th>
    <th>Setup Cost</th>
    <th>Holding Cost</th>
    <th colspan ="3">Action</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.satuan %></td>
    <td><%= item.lead_time %></td>
    <td><%= item.stock %></td>
    <td>Rp. <%= item.setup %></td>
    <td>Rp. <%= item.holding %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


